#root {
  width: 100vw;
  margin: 0;
  text-align: center; /* default alignment */
}

.app-container {
  height: 100vh;
  width: 100vw;
}

/* Global table wrapper */
.table-wrapper {
  width: 100%;
  min-height: 300px;
  height: 100%;
  overflow-x: auto;
  border: 1px solid var(--n600);
  background: rgb(var(--bg-rgb), 0.5);
  border-radius: 6px;
  display: flex;
}

/* Global plavceholder for empty container */
.empty-state {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  text-align: center;
}

/* Global card */
.card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  text-align: start;
  cursor: default;
  overflow: hidden;

  background-color: var(--card);
  border: 1px solid var(--n600);
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

/* Card layouts  */
.cards-container {
  gap: 1rem;
}

.cards-container.col {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.cards-container.row,
.cards-container.row-1-1 {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.cards-container.row-1-1 > div {
  flex: 1;
}

/* Grid layout (mobile first) */
.cards-container.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* mobile: 1 col */
}

/* Breakpoints — scale up */
@media (min-width: 500px) {
  .cards-container.grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 978px) {
  .cards-container.grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1224px) {
  .cards-container.grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 768px) {
  .table-wrapper {
    min-height: 400px;
  }
}

/* Dekstop hover (optional but classy) */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    transform: translateY(-4px);
  }
}
